/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--color-hover-card: rgba(122, 207, 192, 0.5);
	--color-heder-bg: #2c3e50;
	--color-jumbo-bg: #1abc9c;
	--color-footer-top-bg: #3a546d;
	--color-primary: #ffffff;
	--color-secondary: #000000;
}
img{
    width: 100%;
}
.st-debag{
    border: 1px solid red;
}
/* general  */

/* header  */
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
/* nav  */
nav{
    background-color: var(--color-heder-bg);
}
#portfolio-nav .nav-link{
    color:var(--color-primary);
    text-transform: uppercase;
}
#portfolio-nav .nav-link:hover {
    color: var(--color-jumbo-bg);
}
/* main  */
main{
   padding-top: 55px;
}
section{
    padding: 40px 0;
}
#hero h2,p,
#about h2,p{
    color: var(--color-primary);
}
.img-container{
    width: 200px;
    margin: 0 auto;
}
h2,p{
    text-transform: uppercase;
    text-align: center;
}

.star{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    color: var(--color-primary);
}
.star.black{
    color: var(--color-secondary);
}
.star::after,
.star::before{
    content:"";
    display: inline-block;
    vertical-align: middle;
    height: 3px;
    width: 100px;
    margin: 0 auto;
    background-color: var(--color-primary);
}
.star.black:after,
.star.black:before{
    background-color: var(--color-secondary);
}
.card:hover::after{
    content: "\2605";
    font-size: 100px;
    color: var(--color-jumbo-bg);
    background-color: var(--color-hover-card);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* about  */
#about .row{
    color: var(--color-primary);
}
/* contact */
#contact .btn-success{
    background-color: var(--color-jumbo-bg);
    border-color: var(--color-jumbo-bg);
}
#contact .btn-success:hover{
   opacity: 0.8;
}
/* footer  */

/* footer top  */
.footer-top{
    padding: 40px 0;
    background-color: var(--color-footer-top-bg);
    color: var(--color-primary);
}
.footer-top .row{
    text-align: center;
}
.footer-top h5{
    color: var(--color-primary);
    text-transform: uppercase;
}
.icon{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid white;
    margin: 5px;
}
.icon:hover{
    cursor: pointer;
}
/* footer bottom  */
.footer-bottom{
    padding: 40px 0;
    background-color: var(--color-heder-bg);
    color: var(--color-primary);
    text-align: center;
    font-size: small;
}
.footer-bottom span:first-child::after{
    content: "\00a9";
    padding-left: 2px;
}
/* background color  */
.jumbo-bg{
    background-color: var(--color-jumbo-bg);
}

/* text color  */
.jumbo-color{
    color: var(--color-jumbo-bg);
}